@font-face {
  font-family: "3d-isometric";
  src: url('/fonts/3d-isometric.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "3d-pixel";
  src: url('/fonts/3d-pixel.ttf');
  font-weight: normal;
  font-style: normal;
}

$mainColor: #c37743;
$titleFont: '3d-pixel';
$width: 768px;
$bgColor: #000000;
$fontColor: #ffffff;



@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.page-container {
  min-height: calc(100vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;
  color: $fontColor;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

[data-nextjs-scroll-focus-boundary] {
  display: contents;
  width: 100%;
}